extends layout

block content
  // Faq Section
  header
    .container
      .row
        .col-lg-12.text-center
          h2 FAQ
          p &nbsp;
      .row
        .col-lg-8.col-lg-offset-2.text-left
          h4 How does your price checking system work?
          p
            | ...
          p &nbsp;
          h4 How do I create a "price watch?"
          p
            | ...
          p &nbsp;
          h4 What's up with the "Good Deal" badge I see on some product pages?
          p
            | ...
          p &nbsp;
          h4 What are "Popular Products" and how is that determined?
          p
            | ...
          p &nbsp;
          h4 How do I disable Twitter alerts?
          p
            | ...
          p &nbsp;
          h4 What is the Buy Box?
          p
            | ...
          p &nbsp;
          h4 I can't find the offer price camelcamelcamel is reporting.
          p
            | ...
          p &nbsp;
          h4 Getting alerts for (some) 3rd party Prime eligible offers.
          p
            | ...
          &nbsp;
          h4 Why do I not see all price types?
          p
            | ...
          p &nbsp;
          h4 What is repricing?
          p
            | ...
          p &nbsp;
          h4 What about shipping & handling prices?
          p
            | ...