extends layout

block content
  // Privacy Section
  header
    .container
      .row
        .col-lg-12.text-center
          h2 FAQ
          p &nbsp;
      .row
        .col-lg-8.col-lg-offset-2.text-left
          h4 WHAT IS PONCHO?
          p
            | I’m your new best friend and daily sidekick! With fun, personalized weather alerts, I’ll make sure you’re on top of your game and prepared to take on the day. From grabbing an umbrella to grabbing the train, I’ve got you covered.
          p &nbsp;
          h4 I HAVE A FEW QUESTIONS FOR YOU.
          p
            | And I have answers! However, most of the answers on this page are for people with web accounts. If you have a question about the app, go ahead and email me at me@poncho.is.
          p &nbsp;
          h4 WHAT’S THIS APP I KEEP HEARING ABOUT?
          p
            | IT’S SUPER COOL THO! You can check your Poncho forecasts whenever you want, get real-time weather info, and set an alarm clock with super cool music. (I mentioned it was super cool, right?) You can download it here.
          p &nbsp;
          h4 WHERE ARE YOU, EXACTLY?
          p
            | I’m now officially forecasting for the entire continental U.S. (Sorry, Alaska and Hawaii.) On the Internet, you can find me on Twitter, Facebook, and Instagram. Follow me while I take over the U.S. first...then the world! ✈
          p &nbsp;
          h4 HELP! I CAN’T LOG IN!
          p
            | Don’t worry, I’m not giving you the cold shoulder. If you signed up through my app, then you won’t have a web account with me. Instead, you can change all your settings right from the app.
          p If you forgot your password, you can go ahead and reset it here. For all other questions, drop me a line at me@poncho.is.
          p &nbsp;
          h4 I’M GOING ON VACATION AND I DON’T WANT TO RECEIVE YOUR FORECASTS WHILE I’M AWAY.
          p
            | I understand. A little space is good for a relationship. Just log in to your settings page and you can disable your forecasts, then kick back and relax. I’ll wait!
          p &nbsp;
          h4 I WANT YOU TO DO ___.
          p
            | Want a new feature? Or want me to come to your hometown? Well...I’m only one cat, you know. Email me@poncho.is to let me know what new features you want, and to get your hometown on the waitlist.
          p &nbsp;
          h4 YOU KEEP WAKING ME UP TOO EARLY ON WEEKENDS.
          p
            | What, you mean you don’t want to get brunch? To change the delivery time on weekends, go to your settings page. You can change your weekend and holiday times to any time you’d like. Really. I won’t judge you.
          p &nbsp;
          h4 WEEKEND AND HOLIDAY TIMES? WHAT DO YOU MEAN?
          p
            | On weekends, I only send one forecast per day. You can customize when you receive your weekend forecasts from your settings page. That’s when you’ll get your forecasts on holidays too—since, let’s be honest, you’ll be sleeping in. You can see a list of federal holidays here.
          p &nbsp;
          h4 HOW DO YOU KNOW IF I’M GOING TO HAVE A GOOD HAIR DAY OR A BAD HAIR DAY?
          p
            | I look at two factors: wind speed and humidity level. If the wind speed is higher than 13 mph, I consider that windy enough to ruin your ’do. Should the humidity go above 75%, that’s when you get an alert that frizz is waiting for you just outside your door.
          p &nbsp;
          h4 HOW DO I GET FREE STUFF?
          p
            | It’s super easy. All the swag can be yours for the low, low price of free! Get five of your friends to sign up using your personalized referral link and boom, sunglasses. Ten friends? Umbrella. Twenty-five? Headphones. Swag gets shipped every 2 weeks, so prepare your wardrobe to get +5 awesomeness.
          &nbsp;
          h4 I WANT TO WORK FOR YOU.
          p
            | I’m always looking for thoughtful, funny writers to help me, so send me your résumé here. For all other positions, send your resume to jobs@poncho.is and I’ll hang on to it in case a spot opens up!
          p &nbsp;
          h4 I WANT TO WORK WITH YOU.
          p
            | Let’s work together! Partnerships make the world go ’round! Swing your partner round and round! Or just email me here to chat about partnerships and ads.
          p &nbsp;
          h4 THE ROMANCE IS GONE. HOW DO I UNSUBSCRIBE?
          p
            | Hey, listen, I get it…these things happen. I’m sorry to see you go, though! Was it something I said? Tell me.
Unsubscribing is simple: Scroll to the bottom of your settings page and you can unsubscribe there. You can also click on the “unsubscribe” link at the bottom of each forecast email.