extends layout

block content
  // Header
  header
    .container
      .row
        .col-lg-12.text-center
          h2= headerTitle
          h3= headerSubtitle
          p &nbsp;
      .row
        .col-lg-4.col-lg-offset-2
          img.img-responsive(src='img/jackthebot-logo.png', alt='')
        .col-lg-4
          p &nbsp;
          p= invitationToChat
          p &nbsp;
          .fb-messengermessageus(messenger_app_id='1762377167308903', page_id='854790057954931', color='blue', size='xlarge')