extends layout

block content
  // About Section
  header
    .container
      .row
        .col-lg-12.text-center
          h2 Privacy
          p &nbsp;
      .row
        .col-lg-8.col-lg-offset-2
          p
            | Last updated: 2012-01-08
          p
            | We will not sell or trade your personal information for any reason without your prior consent. However, entering your email address or Twitter username into our site implies that you'd like us to contact you, and we will do our best to only do so when helpful / necessary. We don't like spam any more than you do!
          p
            | This site uses Google Analytics and Quantcast for web traffic statistics. We also serve ads from Adsense and/or other providers.