extends layout

block content
  // Purpose Section
  header
    .container
      .row
        .col-lg-12.text-center
          h2 Purpose
          p &nbsp;
      .row
        .col-lg-8.col-lg-offset-2.text-left
          p
            | ...
          p &nbsp;
          p
            | ...
          p &nbsp;
          p
            | ...