extends layout

block content
  // Terms Of Service Section
  header
    .container
      .row
        .col-lg-12.text-center
          h2 Terms Of Service
          p &nbsp;
      .row
        .col-lg-8.col-lg-offset-2.text-left
          p
            | Last updated: 2010-11-20
          p &nbsp;
          p
            | This website provides a free service and, as such, we provide no warranty or guarantee of service or uptime. By using this site, you acknowledge that you have read and agree to these terms and do so at your own risk.
          p &nbsp;
          p
            a(href='privacy') View Privacy Policy